.vscode/
.history/
.idea/
*.sublime-workspace
*.sublime-project
*.code-workspace
*.tmp
*.log
*.bak
*.swp
*.DS_Store
*.skp
*.style

/mad_floor_design
/habitat_site_context
/su_dynamiccomponents
/su_sandbox
/__MACOSX

*su_dynamiccomponents.rb
*su_sandbox.rb
*mad_floor_design.rb
/projeta_plus/html