.vscode/
.history/
.idea/
*.sublime-workspace
*.sublime-project
*.code-workspace
*.tmp
*.log
*.bak
*.swp
*.DS_Store

# User-specific runtime data files
projeta_plus/modules/inteli-skt/scenes/json_data/user_scenes_data.json
*user_sections_data.json
projeta_plus/modules/inteli-skt/plans/json_data/user_plans_data.json
projeta_plus/modules/inteli-skt/plans/json_data/user_base_plans.json
projeta_plus/modules/inteli-skt/layers/json_data/user_tags_data.json

/mad_floor_design
/habitat_site_context
/su_dynamiccomponents
/su_sandbox
/5d_auto_tag
/__MACOSX
/frontend 
/frontend/projeta-plus-html
/dist
/build
/frontend

build/obfuscated_build/
build/encrypted_build/
build/build_*_temp/
build/test_extract/
projeta_plus_obfuscated_v*.rbz
*su_dynamiccomponents.rb
*su_sandbox.rb
*habitat_site_context.rb
*mad_floor_design.rb
*5d_auto_tag.rb
/projeta_plus/html
/as_rubyeditor/
/as_rubyeditor.rb